/* Global Rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #e1d0bc, #f5f7fa, #ceb395);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1f3a;
}

main {
  width: 100%;
  padding: 20px;
}

/* Profile Card */
.profile-card {
  background: #fffbfb;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  max-width: 400px;
  margin: auto;
  transition: all 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

/* User Avatar*/
.avatar-container img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1b1f3a;
  margin-bottom: 10px;
}

/* Card Details*/
.details {
  text-align: center;
}

.details h2 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.bio {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 10px;
}

.time {
  color: rgb(229, 44, 44);
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 0.9rem;
}


/* Social Links*/

.social-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 15px;
}

.social-links a {
  text-decoration: none;
  color: #1b1f3a;
  font-weight: 500;
  position: relative;
}

.social-links a::after {
  content: "";
  display: block;
  height: 2px;
  background: rgb(229, 44, 44);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
}

.social-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


/* Sections */
section {
  margin-top: 15px;
  text-align: left;
}

section h3 {
  color: #1b1f3a;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

section ul {
  list-style: disc;
  padding-left: 20px;
  color: #444;
  font-size: 0.95rem;
}

.hobbies-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start;
}



/* Responsive adjustments for larger screens */
@media (min-width: 700px) {
  .profile-card {
    flex-direction: row;
    max-width: 700px;
    text-align: left;
    gap: 25px;
    padding: 40px;
  }

  .avatar-container {
    flex-shrink: 0;
    margin: 0;
  }

  .details {
    flex: 1;
  }
}